body {
    font-family: monospace;
    text-align: left;

}

h2 {

    font-family: helvetica;
    text-align: left;

}

 .button {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-align: left;

  font-size: 16px;
  margin: 4px 2px;
}

p {
  color: black;
  text-align: left;
}

h1 {
    padding-top: 50px;
    color:#04AA6D;
    text-align: left;
}

.round10 {border-radius: 10px;}
.button2 {border-radius: 4px;}